<div class="panel-footer">
  <a class="btn btn-default" (click) = "gameCard()" style="width:120px">
    <i class="glyphicon glyphicon-user"></i> &nbsp; Add Game
  </a>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    {{ pageTitle }}
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Cost</th>
          <th>Players</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of games">
          <td>{{ game.Date }}</td>
          <td>{{ game.Cost }}</td>
          <td>{{ game.Players.length }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- 
<div *ngFor="let game of games">
  <li>{{ game.Date }} -- {{ game.Cost }}</li>
</div> -->

